@import url('https://fonts.googleapis.com/css?family=Material+Icons|Kaushan+Script|Nosifer|Roboto|Parisienne|Rochester|Playfair+Display');
@font-face {
  font-family: 'MS Mincho';
  src: url('/../resources/fonts/msmincho.ttf');
}

html,
body {
  font-family: "Roboto","sans-serif", "Arial", "Verdana";
  font-size: 12pt;
  height:100%;
}

a {
  color: #3d3d3d;
}

a:hover, a:active, a:focus {
  color: #1c1b1b;
}

a.navbar-link {
  color: #3d3d3d;
}

a.navbar-link:hover,
a.navbar-link:active,
a.navbar-link:focus{
  text-decoration: none;
  border-bottom: 3px solid #3d3d3d;
}

h1.brand-text {
  margin: 15px 0px 15px 0px;
  text-align: center;
  margin: 0px 5px 5px 5px;
  font-size: 22pt;
  font-family: 'Kaushan Script', cursive;
}

hr.dashed {
  border: 2px dashed #d9d9d9;
  margin-left: 10px;
}

ul.left-navbar {
  list-style-type: none;
  padding: 5px;
}

ul.left-navbar > li {
  margin: 30px 0px 30px 0px;
  font-size: 14pt;
  padding-left: 15px;
}

.list-group > a.active,
.list-group > a.active:hover,
.list-group > a.active:focus,
.list-group > a.active:active {
  background-color: #2c3e50;
  color: #ffffff;
  border-color: #2c3e50;
}

.list-group > a.active > p {
  color: #ffffff;
}

.pagination > li > a {
  color: #2c3e50;
}

.pagination > li > a:hover,
.pagination > li > a:focus {
  color: #2c3e50;
}

quote.nosifer {
  font-size: 22pt;
  font-family: 'Nosifer', cursive;
}

quote.msmincho {
  font-size: 40pt;
  font-family: 'MS Mincho', sans-serif;
  font-weight: bold;
}

quote.parisienne {
  font-size: 20pt;
  font-family: 'Parisienne', cursive;
}

quote.rochester {
  font-size: 18pt;
  font-family: 'Rochester', cursive;
}

quote.rochester > small {
  font-weight: bolder;
}

quote.playfair {
  font-size: 14pt;
  font-family: 'Playfair Display', cursive;
}

quote.playfair > small {
  font-weight: bolder;
}

div.menu {
  background-color: #fbfbfb;
  box-shadow: 5px 0px 5px #e2dfdf;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2.menu-title {
  font-size: 16pt;
}

#navbar {
  background-color: #fbfbfb;
  padding-top:50px;
  min-height: 90vh;
}

#content {
  background-color: #f2f2f2;
  padding-top:50px;
  min-height: 90vh;
}

#footer {
  background-color: #2c3e50;
  color: #fbfbfb;
  padding: 20px 0px 20px 0px;
  bottom:0px;
}

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.obj-center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.mrg-top-0 {
  margin-top: 0px;
}

.mrg-btm-0 {
  margin-bottom: 0px;
}

.mrg-btm-20 {
  margin-bottom: 20px;
}

.mrg-btm-30 {
  margin-bottom: 30px;
}

@media screen and (min-width: @screen-sm-min) {

}

/*
  https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
*/

.row{
    overflow: hidden;
}

[class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
